body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-35px;
  width:1877px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:784px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5294117647058824);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:70px;
  width:1864px;
  height:784px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u5536 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:107px;
  width:1861px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u5536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:188px;
  width:1229px;
  height:135px;
  display:flex;
  transition:none;
}
#u5537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:135px;
}
#u5537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:372px;
  width:1861px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u5538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:487px;
  width:1250px;
  height:402px;
  display:flex;
  transition:none;
}
#u5539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:402px;
}
#u5539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
