body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-108px;
  width:1879px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:429px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5294117647058824);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6382 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:136px;
  width:1864px;
  height:429px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u6383 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:187px;
  width:1861px;
  height:313px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u6383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
