body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-238px;
  width:1789px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1789px;
  height:232px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:884px;
  width:1789px;
  height:232px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1753px;
  height:222px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  vertical-align:sub;
  line-height:24px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:924px;
  width:1753px;
  height:222px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  vertical-align:sub;
  line-height:24px;
}
#u2523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:60px;
  width:1789px;
  height:798px;
  display:flex;
  transition:none;
}
#u2524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1789px;
  height:798px;
}
#u2524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:246px;
  width:1416px;
  height:40px;
  display:flex;
  transition:none;
}
#u2525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:40px;
}
#u2525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:255px;
  width:1356px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
