body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-96px;
  width:1776px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1762px;
  height:340px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:81px;
  width:1762px;
  height:340px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1759px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:116px;
  width:1759px;
  height:342px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u4673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:276px;
  width:665px;
  height:71px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u4675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u4676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
  transition:none;
}
#u4677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u4677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:290px;
  height:30px;
  display:flex;
  transition:none;
}
#u4678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u4678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
}
#u4679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u4679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
}
#u4680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u4680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:175px;
  height:41px;
  display:flex;
  transition:none;
}
#u4681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:41px;
}
#u4681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:30px;
  width:290px;
  height:41px;
  display:flex;
  transition:none;
}
#u4682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:41px;
}
#u4682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4683_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:316px;
  width:148px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4683 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4683_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4683.disabled {
}
.u4683_input_option {
}
