body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:43px;
  width:1920px;
  height:937px;
  display:flex;
  transition:none;
}
#u4212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u4212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:63px;
  width:72px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:63px;
  width:72px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:63px;
  width:72px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
  background:inherit;
  background-color:rgba(65, 72, 76, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:113px;
  width:167px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u4216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:215px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:215px;
  width:62px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:215px;
  width:114px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:215px;
  width:91px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:277px;
  width:91px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:63px;
  width:72px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:63px;
  width:72px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:1008px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1015px;
  width:967px;
  height:1008px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4224 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1073px;
  width:904px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1033px;
  width:904px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
  background:inherit;
  background-color:rgba(246, 249, 250, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#0000BF;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:495px;
  width:108px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#0000BF;
}
#u4227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1128px;
  width:904px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1158px;
  width:720px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1187px;
  width:879px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u4230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1319px;
  width:904px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1352px;
  width:824px;
  height:203px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
}
#u4233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:563px;
  height:35px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:35px;
}
#u4234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:261px;
  height:52px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:52px;
}
#u4235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:35px;
  width:563px;
  height:52px;
  display:flex;
  transition:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u4236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:52px;
}
#u4236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:261px;
  height:40px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
}
#u4237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:87px;
  width:563px;
  height:40px;
  display:flex;
  transition:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u4238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:40px;
}
#u4238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:127px;
  width:261px;
  height:76px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:76px;
}
#u4239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:127px;
  width:563px;
  height:76px;
  display:flex;
  transition:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u4240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u4240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:76px;
}
#u4240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1663px;
  width:727px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1713px;
  width:632px;
  height:156px;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u4243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:359px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:30px;
}
#u4244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:0px;
  width:159px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u4245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:114px;
  height:68px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u4246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:30px;
  width:359px;
  height:68px;
  display:flex;
  transition:none;
  font-size:16px;
  text-align:left;
}
#u4247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:68px;
}
#u4247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:30px;
  width:159px;
  height:68px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u4248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:114px;
  height:58px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:58px;
}
#u4249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:98px;
  width:359px;
  height:58px;
  display:flex;
  transition:none;
  font-size:16px;
  text-align:left;
}
#u4250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:58px;
}
#u4250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:98px;
  width:159px;
  height:58px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u4251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:385px;
  width:147px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:385px;
  width:147px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:423px;
  width:209px;
  height:230px;
  display:flex;
  transition:none;
}
#u4254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:230px;
}
#u4254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:435px;
  width:100px;
  height:519px;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  display:flex;
  transition:none;
  color:#000000;
}
#u4256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u4256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:924px;
  width:500px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:428px;
  width:116px;
  height:500px;
  display:flex;
  transition:none;
}
#u4267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:500px;
}
#u4267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:435px;
  width:100px;
  height:489px;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u4269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:100px;
  height:23px;
  display:flex;
  transition:none;
}
#u4278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u4278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:435px;
  width:100px;
  height:489px;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  display:flex;
  transition:none;
  color:#000000;
}
#u4280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u4280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:100px;
  height:54px;
  display:flex;
  transition:none;
}
#u4283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
}
#u4284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:100px;
  height:53px;
  display:flex;
  transition:none;
}
#u4288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u4288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:100px;
  height:23px;
  display:flex;
  transition:none;
}
#u4289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u4289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:486px;
  width:289px;
  height:231px;
  display:flex;
  transition:none;
}
#u4290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:231px;
}
#u4290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:435px;
  width:48px;
  height:519px;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
}
#u4292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:48px;
  height:54px;
  display:flex;
  transition:none;
}
#u4293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:54px;
}
#u4293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:48px;
  height:52px;
  display:flex;
  transition:none;
}
#u4294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:52px;
}
#u4294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:48px;
  height:54px;
  display:flex;
  transition:none;
}
#u4295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:54px;
}
#u4295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:48px;
  height:52px;
  display:flex;
  transition:none;
}
#u4296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:52px;
}
#u4296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:48px;
  height:53px;
  display:flex;
  transition:none;
}
#u4297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u4297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:48px;
  height:53px;
  display:flex;
  transition:none;
}
#u4298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u4298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:48px;
  height:53px;
  display:flex;
  transition:none;
}
#u4299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u4299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:48px;
  height:53px;
  display:flex;
  transition:none;
}
#u4300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u4300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:48px;
  height:53px;
  display:flex;
  transition:none;
}
#u4301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u4301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
