body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:1869px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:80px;
  width:1824px;
  height:688px;
  display:flex;
  transition:none;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:688px;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:780px;
  width:1519px;
  height:790px;
  display:flex;
  transition:none;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1519px;
  height:790px;
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:288px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1660px;
  width:1260px;
  height:288px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1705px;
  width:1146px;
  height:206px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2022px;
  width:1704px;
  height:738px;
  display:flex;
  transition:none;
}
#u606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1704px;
  height:738px;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1190px;
  width:1656px;
  height:350px;
  display:flex;
  transition:none;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1656px;
  height:350px;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:2960px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
