body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-89px;
  width:1807px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1807px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:100px;
  width:1807px;
  height:228px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1741px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:118px;
  width:1741px;
  height:240px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u5307 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
