body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:1712px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:59px;
  width:1711px;
  height:648px;
  display:flex;
  transition:none;
}
#u4614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1711px;
  height:648px;
}
#u4614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1712px;
  height:539px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:736px;
  width:1712px;
  height:539px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1575px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:768px;
  width:1575px;
  height:553px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u4616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1055px;
  width:1367px;
  height:136px;
  display:flex;
  transition:none;
}
#u4617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:136px;
}
#u4617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:1115px;
  width:8px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u4618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
