body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:634px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.37254901960784315);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:52px;
  width:1800px;
  height:634px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1734px;
  height:662px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:73px;
  width:1734px;
  height:662px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
