body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-105px;
  width:1701px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:67px;
  width:1701px;
  height:521px;
  display:flex;
  transition:none;
}
#u2836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1701px;
  height:521px;
}
#u2836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:184px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:623px;
  width:1700px;
  height:184px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1658px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:672px;
  width:1658px;
  height:190px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u2838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
