body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-122px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:65px;
  width:1700px;
  height:814px;
  display:flex;
  transition:none;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:814px;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:71px;
  width:279px;
  height:29px;
  display:flex;
  transition:none;
}
#u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
}
#u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(65, 72, 76, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:121px;
  width:148px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:222px;
  width:371px;
  height:31px;
  display:flex;
  transition:none;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:31px;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:229px;
  width:70px;
  height:24px;
  display:flex;
  transition:none;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:234px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:234px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:377px;
  width:1700px;
  height:512px;
  display:flex;
  transition:none;
}
#u853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:512px;
}
#u853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:394px;
  width:1391px;
  height:90px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:0px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:0px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:0px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:30px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:30px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  color:#008000;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:30px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:30px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:30px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:30px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:60px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:60px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  color:#D9001B;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:60px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:60px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:60px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:60px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:158px;
  width:1686px;
  height:45px;
  display:flex;
  transition:none;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:45px;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:265px;
  width:1506px;
  height:103px;
  display:flex;
  transition:none;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:103px;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:333px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u894_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u894_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u894_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:328px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u894.hint {
}
#u894_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u894.disabled {
}
#u894_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u894.hint.disabled {
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:333px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u896_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:328px;
  width:145px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u896 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u896.disabled {
}
.u896_input_option {
}
#u897 label {
  left:0px;
  width:100%;
  height:100%;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:403px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u897_img.selected {
}
#u897.selected {
}
#u897_img.disabled {
}
#u897.disabled {
}
#u897_img.selected.error {
}
#u897.selected.error {
}
#u897_img.selected.hint {
}
#u897.selected.hint {
}
#u897_img.selected.error.hint {
}
#u897.selected.error.hint {
}
#u897_img.mouseOver.selected {
}
#u897.mouseOver.selected {
}
#u897_img.mouseOver.selected.error {
}
#u897.mouseOver.selected.error {
}
#u897_img.mouseOver.selected.hint {
}
#u897.mouseOver.selected.hint {
}
#u897_img.mouseOver.selected.error.hint {
}
#u897.mouseOver.selected.error.hint {
}
#u897_img.mouseDown.selected {
}
#u897.mouseDown.selected {
}
#u897_img.mouseDown.selected.error {
}
#u897.mouseDown.selected.error {
}
#u897_img.mouseDown.selected.hint {
}
#u897.mouseDown.selected.hint {
}
#u897_img.mouseDown.selected.error.hint {
}
#u897.mouseDown.selected.error.hint {
}
#u897_img.mouseOver.mouseDown.selected {
}
#u897.mouseOver.mouseDown.selected {
}
#u897_img.mouseOver.mouseDown.selected.error {
}
#u897.mouseOver.mouseDown.selected.error {
}
#u897_img.mouseOver.mouseDown.selected.hint {
}
#u897.mouseOver.mouseDown.selected.hint {
}
#u897_img.mouseOver.mouseDown.selected.error.hint {
}
#u897.mouseOver.mouseDown.selected.error.hint {
}
#u897_img.focused.selected {
}
#u897.focused.selected {
}
#u897_img.focused.selected.error {
}
#u897.focused.selected.error {
}
#u897_img.focused.selected.hint {
}
#u897.focused.selected.hint {
}
#u897_img.focused.selected.error.hint {
}
#u897.focused.selected.error.hint {
}
#u897_img.selected.disabled {
}
#u897.selected.disabled {
}
#u897_img.selected.hint.disabled {
}
#u897.selected.hint.disabled {
}
#u897_img.selected.error.disabled {
}
#u897.selected.error.disabled {
}
#u897_img.selected.error.hint.disabled {
}
#u897.selected.error.hint.disabled {
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u898 label {
  left:0px;
  width:100%;
  height:100%;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:433px;
  width:14px;
  height:16px;
  display:flex;
  transition:none;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u898_img.selected {
}
#u898.selected {
}
#u898_img.disabled {
}
#u898.disabled {
}
#u898_img.selected.error {
}
#u898.selected.error {
}
#u898_img.selected.hint {
}
#u898.selected.hint {
}
#u898_img.selected.error.hint {
}
#u898.selected.error.hint {
}
#u898_img.mouseOver.selected {
}
#u898.mouseOver.selected {
}
#u898_img.mouseOver.selected.error {
}
#u898.mouseOver.selected.error {
}
#u898_img.mouseOver.selected.hint {
}
#u898.mouseOver.selected.hint {
}
#u898_img.mouseOver.selected.error.hint {
}
#u898.mouseOver.selected.error.hint {
}
#u898_img.mouseDown.selected {
}
#u898.mouseDown.selected {
}
#u898_img.mouseDown.selected.error {
}
#u898.mouseDown.selected.error {
}
#u898_img.mouseDown.selected.hint {
}
#u898.mouseDown.selected.hint {
}
#u898_img.mouseDown.selected.error.hint {
}
#u898.mouseDown.selected.error.hint {
}
#u898_img.mouseOver.mouseDown.selected {
}
#u898.mouseOver.mouseDown.selected {
}
#u898_img.mouseOver.mouseDown.selected.error {
}
#u898.mouseOver.mouseDown.selected.error {
}
#u898_img.mouseOver.mouseDown.selected.hint {
}
#u898.mouseOver.mouseDown.selected.hint {
}
#u898_img.mouseOver.mouseDown.selected.error.hint {
}
#u898.mouseOver.mouseDown.selected.error.hint {
}
#u898_img.focused.selected {
}
#u898.focused.selected {
}
#u898_img.focused.selected.error {
}
#u898.focused.selected.error {
}
#u898_img.focused.selected.hint {
}
#u898.focused.selected.hint {
}
#u898_img.focused.selected.error.hint {
}
#u898.focused.selected.error.hint {
}
#u898_img.selected.disabled {
}
#u898.selected.disabled {
}
#u898_img.selected.hint.disabled {
}
#u898.selected.hint.disabled {
}
#u898_img.selected.error.disabled {
}
#u898.selected.error.disabled {
}
#u898_img.selected.error.hint.disabled {
}
#u898.selected.error.hint.disabled {
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u899 label {
  left:0px;
  width:100%;
  height:100%;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:464px;
  width:14px;
  height:16px;
  display:flex;
  transition:none;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u899_img.selected {
}
#u899.selected {
}
#u899_img.disabled {
}
#u899.disabled {
}
#u899_img.selected.error {
}
#u899.selected.error {
}
#u899_img.selected.hint {
}
#u899.selected.hint {
}
#u899_img.selected.error.hint {
}
#u899.selected.error.hint {
}
#u899_img.mouseOver.selected {
}
#u899.mouseOver.selected {
}
#u899_img.mouseOver.selected.error {
}
#u899.mouseOver.selected.error {
}
#u899_img.mouseOver.selected.hint {
}
#u899.mouseOver.selected.hint {
}
#u899_img.mouseOver.selected.error.hint {
}
#u899.mouseOver.selected.error.hint {
}
#u899_img.mouseDown.selected {
}
#u899.mouseDown.selected {
}
#u899_img.mouseDown.selected.error {
}
#u899.mouseDown.selected.error {
}
#u899_img.mouseDown.selected.hint {
}
#u899.mouseDown.selected.hint {
}
#u899_img.mouseDown.selected.error.hint {
}
#u899.mouseDown.selected.error.hint {
}
#u899_img.mouseOver.mouseDown.selected {
}
#u899.mouseOver.mouseDown.selected {
}
#u899_img.mouseOver.mouseDown.selected.error {
}
#u899.mouseOver.mouseDown.selected.error {
}
#u899_img.mouseOver.mouseDown.selected.hint {
}
#u899.mouseOver.mouseDown.selected.hint {
}
#u899_img.mouseOver.mouseDown.selected.error.hint {
}
#u899.mouseOver.mouseDown.selected.error.hint {
}
#u899_img.focused.selected {
}
#u899.focused.selected {
}
#u899_img.focused.selected.error {
}
#u899.focused.selected.error {
}
#u899_img.focused.selected.hint {
}
#u899.focused.selected.hint {
}
#u899_img.focused.selected.error.hint {
}
#u899.focused.selected.error.hint {
}
#u899_img.selected.disabled {
}
#u899.selected.disabled {
}
#u899_img.selected.hint.disabled {
}
#u899.selected.hint.disabled {
}
#u899_img.selected.error.disabled {
}
#u899.selected.error.disabled {
}
#u899_img.selected.error.hint.disabled {
}
#u899.selected.error.hint.disabled {
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:282px;
  width:94px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:265px;
  width:200px;
  height:58px;
  display:flex;
  transition:none;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:430px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:537px;
  width:1259px;
  height:430px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u902 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:567px;
  width:1235px;
  height:434px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1056px;
  width:859px;
  height:106px;
  display:flex;
  transition:none;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:106px;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:333px;
  width:67px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u906_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:328px;
  width:145px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u906 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u906_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u906.disabled {
}
.u906_input_option {
}
#u907 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:353px;
  width:50px;
  height:31px;
  display:flex;
  transition:none;
}
#u907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:361px;
  width:128px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
