body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-69px;
  width:1193px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:104px;
  width:1193px;
  height:173px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:327px;
  width:1093px;
  height:534px;
  display:flex;
  transition:none;
}
#u1759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:534px;
}
#u1759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:912px;
  width:1155px;
  height:580px;
  display:flex;
  transition:none;
}
#u1760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:580px;
}
#u1760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1529px;
  width:1147px;
  height:518px;
  display:flex;
  transition:none;
}
#u1761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:518px;
}
#u1761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
