body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:1634px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:56px;
  width:1634px;
  height:631px;
  display:flex;
  transition:none;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:631px;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:2405px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:439px;
  width:1392px;
  height:2405px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1373px;
  height:2406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:24px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:465px;
  width:1373px;
  height:2406px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:24px;
}
#u305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
