body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1844px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1526px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:80px;
  width:1800px;
  height:1526px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1795px;
  height:1046px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:122px;
  width:1795px;
  height:1046px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u5366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:226px;
  width:451px;
  height:121px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:27px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:27px;
}
#u5368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:210px;
  height:27px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
}
#u5369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:241px;
  height:30px;
  display:flex;
  transition:none;
}
#u5370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u5370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:27px;
  width:210px;
  height:30px;
  display:flex;
  transition:none;
}
#u5371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u5371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:241px;
  height:30px;
  display:flex;
  transition:none;
}
#u5372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u5372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:57px;
  width:210px;
  height:30px;
  display:flex;
  transition:none;
}
#u5373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u5373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:241px;
  height:34px;
  display:flex;
  transition:none;
}
#u5374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
#u5374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:87px;
  width:210px;
  height:34px;
  display:flex;
  transition:none;
}
#u5375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u5375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1060px;
  width:1116px;
  height:469px;
  display:flex;
  transition:none;
}
#u5376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:469px;
}
#u5376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
