body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-99px;
  width:1429px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1397px;
  height:870px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.20392156862745098);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:62px;
  width:1397px;
  height:870px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:83px;
  width:1403px;
  height:253px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:332px;
  width:1059px;
  height:523px;
  display:flex;
  transition:none;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:523px;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:789px;
  width:580px;
  height:80px;
  display:flex;
  transition:none;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:80px;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:808px;
  width:256px;
  height:79px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
