body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-217px;
  width:1331px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3140 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:127px;
  width:1331px;
  height:586px;
  display:flex;
  transition:none;
}
#u3140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:586px;
}
#u3140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:203px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3141 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:750px;
  width:1331px;
  height:203px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:780px;
  width:729px;
  height:195px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:248px;
  width:291px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:253px;
  width:372px;
  height:285px;
  display:flex;
  transition:none;
}
#u3145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:285px;
}
#u3145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:361px;
  width:99px;
  height:38px;
  display:flex;
  transition:none;
}
#u3146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u3146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:286px;
  width:568px;
  height:267px;
  display:flex;
  transition:none;
}
#u3148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:267px;
}
#u3148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:413px;
  width:98px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.3293543423035699deg);
  -moz-transform:rotate(0.3293543423035699deg);
  -ms-transform:rotate(0.3293543423035699deg);
  transform:rotate(0.3293543423035699deg);
  transition:none;
}
#u3149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:2px;
}
#u3149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
