body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-87px;
  width:1750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7238 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:53px;
  width:1750px;
  height:593px;
  display:flex;
  transition:none;
}
#u7238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:593px;
}
#u7238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:777px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.37254901960784315);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7239 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:675px;
  width:1750px;
  height:777px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1659px;
  height:779px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u7240 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:720px;
  width:1659px;
  height:779px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u7240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7241 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:270px;
  width:186px;
  height:121px;
  display:flex;
  transition:none;
}
#u7241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:121px;
}
#u7241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:270px;
  width:128px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u7242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7243 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:121px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
