body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1626px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:432px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:74px;
  width:1626px;
  height:432px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:99px;
  width:1580px;
  height:434px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u29 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
