body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:1882px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:537px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:852px;
  width:1800px;
  height:537px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1718px;
  height:555px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:889px;
  width:1718px;
  height:555px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u5528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:135px;
  width:1882px;
  height:611px;
  display:flex;
  transition:none;
}
#u5529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1882px;
  height:611px;
}
#u5529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:209px;
  width:583px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:209px;
  width:455px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u5531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:578px;
  width:1562px;
  height:241px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
