body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:1929px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:726px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.34509803921568627);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:118px;
  width:1911px;
  height:726px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:187px;
  width:1880px;
  height:145px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:354px;
  width:397px;
  height:232px;
  display:flex;
  transition:none;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:232px;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:364px;
  width:106px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:374px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:628px;
  width:1880px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
