body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-132px;
  width:1559px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:209px;
  width:1558px;
  height:723px;
  display:flex;
  transition:none;
}
#u1980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1558px;
  height:723px;
}
#u1980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1559px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:977px;
  width:1559px;
  height:94px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1005px;
  width:1059px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:436px;
  width:45px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-155.8574420893511deg);
  -moz-transform:rotate(-155.8574420893511deg);
  -ms-transform:rotate(-155.8574420893511deg);
  transform:rotate(-155.8574420893511deg);
  transition:none;
}
#u1983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:58px;
  height:25px;
}
#u1983p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:50px;
  height:6px;
  -webkit-transform:rotate(-0.14255791064888967deg);
  -moz-transform:rotate(-0.14255791064888967deg);
  -ms-transform:rotate(-0.14255791064888967deg);
  transform:rotate(-0.14255791064888967deg);
}
#u1983p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u1983p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(155.8574420893511deg);
  -moz-transform:rotate(155.8574420893511deg);
  -ms-transform:rotate(155.8574420893511deg);
  transform:rotate(155.8574420893511deg);
}
#u1983p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:6px;
  height:6px;
}
#u1983p002 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(179.8574420893511deg);
  -moz-transform:rotate(179.8574420893511deg);
  -ms-transform:rotate(179.8574420893511deg);
  transform:rotate(179.8574420893511deg);
}
#u1983p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1984_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1984_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1984_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:441px;
  width:55px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u1984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1984_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u1984.hint {
}
#u1984_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u1984.disabled {
}
#u1984_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u1984.hint.disabled {
}
#u1985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1985_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:441px;
  width:116px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1985 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1985_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1985.disabled {
}
.u1985_input_option {
}
