body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-97px;
  width:1807px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1807px;
  height:1108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:821px;
  width:1807px;
  height:1108px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:839px;
  width:1550px;
  height:240px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u5300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:23px;
  width:1807px;
  height:778px;
  display:flex;
  transition:none;
}
#u5301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1807px;
  height:778px;
}
#u5301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1113px;
  width:1565px;
  height:354px;
  display:flex;
  transition:none;
}
#u5302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1565px;
  height:354px;
}
#u5302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1760px;
  width:1289px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u5303 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1488px;
  width:1708px;
  height:234px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#D9001B;
}
#u5304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1422px;
  width:1369px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(2.1375075330344253deg);
  -moz-transform:rotate(2.1375075330344253deg);
  -ms-transform:rotate(2.1375075330344253deg);
  transform:rotate(2.1375075330344253deg);
  transition:none;
  color:#D9001B;
}
#u5305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5305_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1372px;
  height:5px;
}
#u5305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
