body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-176px;
  width:1684px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:61px;
  width:1600px;
  height:633px;
  display:flex;
  transition:none;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:633px;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:187px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:755px;
  width:1600px;
  height:187px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1661px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  vertical-align:sub;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:802px;
  width:1661px;
  height:178px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  vertical-align:sub;
}
#u280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:374px;
  width:43px;
  height:27px;
  display:flex;
  transition:none;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:27px;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:629px;
  width:96px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:233px;
  width:598px;
  height:432px;
  display:flex;
  transition:none;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:432px;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:472px;
  width:52px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:635px;
  width:108px;
  height:28px;
  display:flex;
  transition:none;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:382px;
  width:3px;
  height:91px;
  display:flex;
  -webkit-transform:rotate(146.14869790958977deg);
  -moz-transform:rotate(146.14869790958977deg);
  -ms-transform:rotate(146.14869790958977deg);
  transform:rotate(146.14869790958977deg);
  transition:none;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-2px;
  width:25px;
  height:104px;
}
#u287p000 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:43px;
  width:96px;
  height:6px;
  -webkit-transform:rotate(-270.14869790958977deg);
  -moz-transform:rotate(-270.14869790958977deg);
  -ms-transform:rotate(-270.14869790958977deg);
  transform:rotate(-270.14869790958977deg);
}
#u287p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:96px;
  height:6px;
}
#u287p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-146.14869790958977deg);
  -moz-transform:rotate(-146.14869790958977deg);
  -ms-transform:rotate(-146.14869790958977deg);
  transform:rotate(-146.14869790958977deg);
}
#u287p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:6px;
  height:6px;
}
#u287p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:70px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-90.14869790958977deg);
  -moz-transform:rotate(-90.14869790958977deg);
  -ms-transform:rotate(-90.14869790958977deg);
  transform:rotate(-90.14869790958977deg);
}
#u287p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:28px;
  height:28px;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:513px;
  width:3px;
  height:51px;
  display:flex;
  -webkit-transform:rotate(60.150231865082546deg);
  -moz-transform:rotate(60.150231865082546deg);
  -ms-transform:rotate(60.150231865082546deg);
  transform:rotate(60.150231865082546deg);
  transition:none;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-2px;
  width:25px;
  height:64px;
}
#u288p000 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:22px;
  width:56px;
  height:6px;
  -webkit-transform:rotate(89.84976813491745deg);
  -moz-transform:rotate(89.84976813491745deg);
  -ms-transform:rotate(89.84976813491745deg);
  transform:rotate(89.84976813491745deg);
}
#u288p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:6px;
}
#u288p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-60.150231865082546deg);
  -moz-transform:rotate(-60.150231865082546deg);
  -ms-transform:rotate(-60.150231865082546deg);
  transform:rotate(-60.150231865082546deg);
}
#u288p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:6px;
  height:6px;
}
#u288p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:30px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-90.15023186508255deg);
  -moz-transform:rotate(-90.15023186508255deg);
  -ms-transform:rotate(-90.15023186508255deg);
  transform:rotate(-90.15023186508255deg);
}
#u288p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:28px;
  height:28px;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
