body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-215px;
  width:1034px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:92px;
  width:741px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:131px;
  width:1034px;
  height:526px;
  display:flex;
  transition:none;
}
#u3342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:526px;
}
#u3342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
