body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:1488px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 184, 217, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
  font-size:16px;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:68px;
  width:734px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u6507 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:221px;
  width:992px;
  height:544px;
  display:flex;
  transition:none;
}
#u6508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:544px;
}
#u6508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:765px;
  width:981px;
  height:550px;
  display:flex;
  transition:none;
}
#u6509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:550px;
}
#u6509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:323px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u6510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6510_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:966px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u6511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6511_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:343px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
  font-size:16px;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:227px;
  width:456px;
  height:343px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u6512 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:284px;
  width:343px;
  height:179px;
  display:flex;
  transition:none;
}
#u6513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:179px;
}
#u6513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
