body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-105px;
  width:937px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:89px;
  width:912px;
  height:447px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:84px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u4474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:181px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u4475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4475_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:355px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u4476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4476_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u4476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
