body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-122px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:65px;
  width:1700px;
  height:814px;
  display:flex;
  transition:none;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:814px;
}
#u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:71px;
  width:279px;
  height:29px;
  display:flex;
  transition:none;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(65, 72, 76, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:121px;
  width:148px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(35, 41, 45, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:76px;
  width:64px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'华文中宋', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:222px;
  width:371px;
  height:31px;
  display:flex;
  transition:none;
}
#u905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:31px;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:229px;
  width:70px;
  height:24px;
  display:flex;
  transition:none;
}
#u906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:234px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:234px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:377px;
  width:1700px;
  height:512px;
  display:flex;
  transition:none;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:512px;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:394px;
  width:1391px;
  height:90px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:0px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:0px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:0px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:30px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:30px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  color:#008000;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:30px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:30px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:30px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:30px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:30px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
}
#u934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:31px;
  height:30px;
  display:flex;
  transition:none;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:60px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:60px;
  width:134px;
  height:30px;
  display:flex;
  transition:none;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
  color:#D9001B;
}
#u940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:60px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
}
#u941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:60px;
  width:131px;
  height:30px;
  display:flex;
  transition:none;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:60px;
  width:143px;
  height:30px;
  display:flex;
  transition:none;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:60px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:60px;
  width:138px;
  height:30px;
  display:flex;
  transition:none;
}
#u946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:158px;
  width:1686px;
  height:45px;
  display:flex;
  transition:none;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:45px;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:265px;
  width:1506px;
  height:103px;
  display:flex;
  transition:none;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:103px;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:333px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u950_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u950_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u950_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:328px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u950.hint {
}
#u950_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u950.disabled {
}
#u950_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u950.hint.disabled {
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:333px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u952_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:328px;
  width:145px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u952 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u952.disabled {
}
.u952_input_option {
}
#u953 label {
  left:0px;
  width:100%;
  height:100%;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:403px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
}
#u953 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u953_img.selected {
}
#u953.selected {
}
#u953_img.disabled {
}
#u953.disabled {
}
#u953_img.selected.error {
}
#u953.selected.error {
}
#u953_img.selected.hint {
}
#u953.selected.hint {
}
#u953_img.selected.error.hint {
}
#u953.selected.error.hint {
}
#u953_img.mouseOver.selected {
}
#u953.mouseOver.selected {
}
#u953_img.mouseOver.selected.error {
}
#u953.mouseOver.selected.error {
}
#u953_img.mouseOver.selected.hint {
}
#u953.mouseOver.selected.hint {
}
#u953_img.mouseOver.selected.error.hint {
}
#u953.mouseOver.selected.error.hint {
}
#u953_img.mouseDown.selected {
}
#u953.mouseDown.selected {
}
#u953_img.mouseDown.selected.error {
}
#u953.mouseDown.selected.error {
}
#u953_img.mouseDown.selected.hint {
}
#u953.mouseDown.selected.hint {
}
#u953_img.mouseDown.selected.error.hint {
}
#u953.mouseDown.selected.error.hint {
}
#u953_img.mouseOver.mouseDown.selected {
}
#u953.mouseOver.mouseDown.selected {
}
#u953_img.mouseOver.mouseDown.selected.error {
}
#u953.mouseOver.mouseDown.selected.error {
}
#u953_img.mouseOver.mouseDown.selected.hint {
}
#u953.mouseOver.mouseDown.selected.hint {
}
#u953_img.mouseOver.mouseDown.selected.error.hint {
}
#u953.mouseOver.mouseDown.selected.error.hint {
}
#u953_img.focused.selected {
}
#u953.focused.selected {
}
#u953_img.focused.selected.error {
}
#u953.focused.selected.error {
}
#u953_img.focused.selected.hint {
}
#u953.focused.selected.hint {
}
#u953_img.focused.selected.error.hint {
}
#u953.focused.selected.error.hint {
}
#u953_img.selected.disabled {
}
#u953.selected.disabled {
}
#u953_img.selected.hint.disabled {
}
#u953.selected.hint.disabled {
}
#u953_img.selected.error.disabled {
}
#u953.selected.error.disabled {
}
#u953_img.selected.error.hint.disabled {
}
#u953.selected.error.hint.disabled {
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u954 label {
  left:0px;
  width:100%;
  height:100%;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:433px;
  width:14px;
  height:16px;
  display:flex;
  transition:none;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u954_img.selected {
}
#u954.selected {
}
#u954_img.disabled {
}
#u954.disabled {
}
#u954_img.selected.error {
}
#u954.selected.error {
}
#u954_img.selected.hint {
}
#u954.selected.hint {
}
#u954_img.selected.error.hint {
}
#u954.selected.error.hint {
}
#u954_img.mouseOver.selected {
}
#u954.mouseOver.selected {
}
#u954_img.mouseOver.selected.error {
}
#u954.mouseOver.selected.error {
}
#u954_img.mouseOver.selected.hint {
}
#u954.mouseOver.selected.hint {
}
#u954_img.mouseOver.selected.error.hint {
}
#u954.mouseOver.selected.error.hint {
}
#u954_img.mouseDown.selected {
}
#u954.mouseDown.selected {
}
#u954_img.mouseDown.selected.error {
}
#u954.mouseDown.selected.error {
}
#u954_img.mouseDown.selected.hint {
}
#u954.mouseDown.selected.hint {
}
#u954_img.mouseDown.selected.error.hint {
}
#u954.mouseDown.selected.error.hint {
}
#u954_img.mouseOver.mouseDown.selected {
}
#u954.mouseOver.mouseDown.selected {
}
#u954_img.mouseOver.mouseDown.selected.error {
}
#u954.mouseOver.mouseDown.selected.error {
}
#u954_img.mouseOver.mouseDown.selected.hint {
}
#u954.mouseOver.mouseDown.selected.hint {
}
#u954_img.mouseOver.mouseDown.selected.error.hint {
}
#u954.mouseOver.mouseDown.selected.error.hint {
}
#u954_img.focused.selected {
}
#u954.focused.selected {
}
#u954_img.focused.selected.error {
}
#u954.focused.selected.error {
}
#u954_img.focused.selected.hint {
}
#u954.focused.selected.hint {
}
#u954_img.focused.selected.error.hint {
}
#u954.focused.selected.error.hint {
}
#u954_img.selected.disabled {
}
#u954.selected.disabled {
}
#u954_img.selected.hint.disabled {
}
#u954.selected.hint.disabled {
}
#u954_img.selected.error.disabled {
}
#u954.selected.error.disabled {
}
#u954_img.selected.error.hint.disabled {
}
#u954.selected.error.hint.disabled {
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u954_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u955 label {
  left:0px;
  width:100%;
  height:100%;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:464px;
  width:14px;
  height:16px;
  display:flex;
  transition:none;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u955_img.selected {
}
#u955.selected {
}
#u955_img.disabled {
}
#u955.disabled {
}
#u955_img.selected.error {
}
#u955.selected.error {
}
#u955_img.selected.hint {
}
#u955.selected.hint {
}
#u955_img.selected.error.hint {
}
#u955.selected.error.hint {
}
#u955_img.mouseOver.selected {
}
#u955.mouseOver.selected {
}
#u955_img.mouseOver.selected.error {
}
#u955.mouseOver.selected.error {
}
#u955_img.mouseOver.selected.hint {
}
#u955.mouseOver.selected.hint {
}
#u955_img.mouseOver.selected.error.hint {
}
#u955.mouseOver.selected.error.hint {
}
#u955_img.mouseDown.selected {
}
#u955.mouseDown.selected {
}
#u955_img.mouseDown.selected.error {
}
#u955.mouseDown.selected.error {
}
#u955_img.mouseDown.selected.hint {
}
#u955.mouseDown.selected.hint {
}
#u955_img.mouseDown.selected.error.hint {
}
#u955.mouseDown.selected.error.hint {
}
#u955_img.mouseOver.mouseDown.selected {
}
#u955.mouseOver.mouseDown.selected {
}
#u955_img.mouseOver.mouseDown.selected.error {
}
#u955.mouseOver.mouseDown.selected.error {
}
#u955_img.mouseOver.mouseDown.selected.hint {
}
#u955.mouseOver.mouseDown.selected.hint {
}
#u955_img.mouseOver.mouseDown.selected.error.hint {
}
#u955.mouseOver.mouseDown.selected.error.hint {
}
#u955_img.focused.selected {
}
#u955.focused.selected {
}
#u955_img.focused.selected.error {
}
#u955.focused.selected.error {
}
#u955_img.focused.selected.hint {
}
#u955.focused.selected.hint {
}
#u955_img.focused.selected.error.hint {
}
#u955.focused.selected.error.hint {
}
#u955_img.selected.disabled {
}
#u955.selected.disabled {
}
#u955_img.selected.hint.disabled {
}
#u955.selected.hint.disabled {
}
#u955_img.selected.error.disabled {
}
#u955.selected.error.disabled {
}
#u955_img.selected.error.hint.disabled {
}
#u955.selected.error.hint.disabled {
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:282px;
  width:94px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:265px;
  width:200px;
  height:58px;
  display:flex;
  transition:none;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:430px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:537px;
  width:1259px;
  height:430px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u958 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:567px;
  width:1235px;
  height:434px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1056px;
  width:859px;
  height:106px;
  display:flex;
  transition:none;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:106px;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:333px;
  width:67px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u962_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:328px;
  width:145px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u962 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u962.disabled {
}
.u962_input_option {
}
#u963 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:353px;
  width:50px;
  height:31px;
  display:flex;
  transition:none;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:361px;
  width:128px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
