body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-105px;
  width:937px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:89px;
  width:912px;
  height:447px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:84px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:181px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:355px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
