body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:1842px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1842px;
  height:206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:70px;
  width:1842px;
  height:206px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1797px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:129px;
  width:1797px;
  height:272px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
