body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-106px;
  width:1877px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:80px;
  width:1800px;
  height:875px;
  display:flex;
  transition:none;
}
#u4752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:875px;
}
#u4752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:146px;
  width:156px;
  height:89px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:159px;
  width:550px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u4754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:263px;
  width:1536px;
  height:704px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:721px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5294117647058824);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:980px;
  width:1864px;
  height:721px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:559px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1017px;
  width:1861px;
  height:559px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u4757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:283px;
  width:1553px;
  height:586px;
  display:flex;
  transition:none;
}
#u4758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1553px;
  height:586px;
}
#u4758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
