body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:878px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:74px;
  width:1626px;
  height:878px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1607px;
  height:775px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:99px;
  width:1607px;
  height:775px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:3376px;
  width:300px;
  height:63px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:3028px;
  width:97px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:3073px;
  width:1085px;
  height:748px;
  display:flex;
  transition:none;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:748px;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:290px;
  background:inherit;
  background-color:rgba(0, 12, 23, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:3332px;
  width:145px;
  height:290px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F2F2F2;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:3330px;
  width:73px;
  height:126px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#F2F2F2;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:3257px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:3256px;
  width:58px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
}
#u44 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:3847px;
  width:1085px;
  height:546px;
  display:flex;
  transition:none;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:546px;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:3960px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:4093px;
  width:100px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:3289px;
  width:167px;
  height:176px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:4467px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1017px;
  width:1096px;
  height:1034px;
  display:flex;
  transition:none;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:1034px;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1058px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1048px;
  width:60px;
  height:80px;
  display:flex;
  transition:none;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1240px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:1058px;
  width:196px;
  height:60px;
  display:flex;
  transition:none;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:61px;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:186px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1017px;
  width:58px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1230px;
  width:60px;
  height:80px;
  display:flex;
  transition:none;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:186px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1209px;
  width:58px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:138px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1401px;
  width:58px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:138px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1545px;
  width:58px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:138px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1689px;
  width:58px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:218px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1833px;
  width:58px;
  height:218px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:1088px;
  width:0px;
  height:0px;
  transition:none;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-9px;
  width:19px;
  height:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:1270px;
  width:0px;
  height:0px;
  transition:none;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-9px;
  width:19px;
  height:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1240px;
  width:0px;
  height:0px;
  transition:none;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-15px;
  width:10px;
  height:15px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-15px;
  width:115px;
  height:10px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-15px;
  width:10px;
  height:46px;
}
#u65_seg3 {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:18px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1509px;
  width:362px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1128px;
  width:0px;
  height:0px;
  transition:none;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:107px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:89px;
  width:18px;
  height:19px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:1310px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1584px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1728px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1434px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1584px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1434px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1852px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1300px;
  width:0px;
  height:0px;
  transition:none;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:139px;
}
#u75_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:121px;
  width:18px;
  height:19px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1464px;
  width:0px;
  height:0px;
  transition:none;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:72px;
  height:10px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:19px;
  height:18px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1614px;
  width:0px;
  height:0px;
  transition:none;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:72px;
  height:10px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:19px;
  height:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1464px;
  width:0px;
  height:0px;
  transition:none;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-5px;
  width:10px;
  height:269px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:251px;
  width:18px;
  height:19px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:75px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1614px;
  width:0px;
  height:0px;
  transition:none;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-5px;
  width:10px;
  height:119px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:101px;
  width:18px;
  height:19px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:1788px;
  width:0px;
  height:0px;
  transition:none;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1118px;
  width:0px;
  height:0px;
  transition:none;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:501px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:491px;
  width:264px;
  height:10px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:487px;
  width:19px;
  height:18px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:370px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1970px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:1912px;
  width:0px;
  height:0px;
  transition:none;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1255px;
  width:600px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:907px;
  width:117px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1684px;
  top:1270px;
  width:251px;
  height:380px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:1305px;
  width:300px;
  height:222px;
  display:flex;
  transition:none;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:222px;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:1542px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:1656px;
  width:300px;
  height:236px;
  display:flex;
  transition:none;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:236px;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1684px;
  top:1561px;
  width:251px;
  height:63px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u91 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1684px;
  top:1669px;
  width:251px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#B8741A;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1653px;
  width:77px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#B8741A;
}
#u93 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#B8741A;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1501px;
  width:118px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#B8741A;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
