body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-84px;
  width:1616px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1616px;
  height:350px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:719px;
  width:1616px;
  height:350px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1602px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:753px;
  width:1602px;
  height:373px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:47px;
  width:1615px;
  height:646px;
  display:flex;
  transition:none;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1615px;
  height:646px;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
