body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:20px;
  width:1920px;
  height:937px;
  display:flex;
  transition:none;
}
#u1911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u1911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:560px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1000px;
  width:1420px;
  height:560px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1020px;
  width:1290px;
  height:510px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1640px;
  width:40px;
  height:30px;
  display:flex;
  transition:none;
}
#u1914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u1914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
