body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-113px;
  width:1776px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1762px;
  height:1272px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4746 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:139px;
  width:1762px;
  height:1272px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1759px;
  height:896px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:174px;
  width:1759px;
  height:896px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  line-height:24px;
}
#u4747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:603px;
  width:386px;
  height:70px;
  display:flex;
  transition:none;
}
#u4748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:70px;
}
#u4748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1083px;
  width:919px;
  height:239px;
  display:flex;
  transition:none;
}
#u4749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:239px;
}
#u4749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
