body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-162px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:416px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.996078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:820px;
  width:1600px;
  height:416px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:super;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:837px;
  width:1577px;
  height:449px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:super;
}
#u355 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:75px;
  width:1600px;
  height:719px;
  display:flex;
  transition:none;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:719px;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
