body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:1365px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:204px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.3058823529411765);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:55px;
  width:1365px;
  height:204px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:82px;
  width:1334px;
  height:162px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
