body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-65px;
  width:1789px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1789px;
  height:268px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:78px;
  width:1789px;
  height:268px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1738px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:99px;
  width:1738px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u4818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
