body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:106px;
  width:1290px;
  height:620px;
  display:flex;
  transition:none;
}
#u378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:620px;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:757px;
  width:1290px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:782px;
  width:977px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u381_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:240px;
  width:279px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u381 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u381_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u381.disabled {
}
.u381_input_option {
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:243px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
