body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-201px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:675px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:977px;
  width:1800px;
  height:675px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1011px;
  width:1113px;
  height:126px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:73px;
  width:1800px;
  height:866px;
  display:flex;
  transition:none;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:866px;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1137px;
  width:1230px;
  height:215px;
  display:flex;
  transition:none;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:215px;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1384px;
  width:1113px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1444px;
  width:1113px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
