body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1506px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:445px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:147px;
  width:1506px;
  height:445px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:188px;
  width:1113px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:236px;
  width:1363px;
  height:179px;
  display:flex;
  transition:none;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1363px;
  height:179px;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:334px;
  width:86px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:404px;
  width:90px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-65.39365132699523deg);
  -moz-transform:rotate(-65.39365132699523deg);
  -ms-transform:rotate(-65.39365132699523deg);
  transform:rotate(-65.39365132699523deg);
  transition:none;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:106px;
  height:31px;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:460px;
  width:178px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
