body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-157px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:91px;
  width:1800px;
  height:615px;
  display:flex;
  transition:none;
}
#u7288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:615px;
}
#u7288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1786px;
  height:811px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.37254901960784315);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:731px;
  width:1786px;
  height:811px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:795px;
  width:1772px;
  height:636px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u7290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:326px;
  width:95px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:337px;
  width:5px;
  height:58px;
  display:flex;
  -webkit-transform:rotate(57.616506235070574deg);
  -moz-transform:rotate(57.616506235070574deg);
  -ms-transform:rotate(57.616506235070574deg);
  transform:rotate(57.616506235070574deg);
  transition:none;
}
#u7292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7292_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:74px;
}
#u7292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7293 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:945px;
  width:512px;
  height:557px;
  display:flex;
  transition:none;
}
#u7293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:557px;
}
#u7293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u7294 {
  border-width:0px;
  position:absolute;
  left:1313px;
  top:430px;
  width:53px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u7294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7295 label {
  left:0px;
  width:100%;
  height:100%;
}
#u7295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7295 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:1351px;
  width:18px;
  height:15px;
  display:flex;
  transition:none;
}
#u7295 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7295_img.selected {
}
#u7295.selected {
}
#u7295_img.disabled {
}
#u7295.disabled {
}
#u7295_img.selected.error {
}
#u7295.selected.error {
}
#u7295_img.selected.hint {
}
#u7295.selected.hint {
}
#u7295_img.selected.error.hint {
}
#u7295.selected.error.hint {
}
#u7295_img.mouseOver.selected {
}
#u7295.mouseOver.selected {
}
#u7295_img.mouseOver.selected.error {
}
#u7295.mouseOver.selected.error {
}
#u7295_img.mouseOver.selected.hint {
}
#u7295.mouseOver.selected.hint {
}
#u7295_img.mouseOver.selected.error.hint {
}
#u7295.mouseOver.selected.error.hint {
}
#u7295_img.mouseDown.selected {
}
#u7295.mouseDown.selected {
}
#u7295_img.mouseDown.selected.error {
}
#u7295.mouseDown.selected.error {
}
#u7295_img.mouseDown.selected.hint {
}
#u7295.mouseDown.selected.hint {
}
#u7295_img.mouseDown.selected.error.hint {
}
#u7295.mouseDown.selected.error.hint {
}
#u7295_img.mouseOver.mouseDown.selected {
}
#u7295.mouseOver.mouseDown.selected {
}
#u7295_img.mouseOver.mouseDown.selected.error {
}
#u7295.mouseOver.mouseDown.selected.error {
}
#u7295_img.mouseOver.mouseDown.selected.hint {
}
#u7295.mouseOver.mouseDown.selected.hint {
}
#u7295_img.mouseOver.mouseDown.selected.error.hint {
}
#u7295.mouseOver.mouseDown.selected.error.hint {
}
#u7295_img.focused.selected {
}
#u7295.focused.selected {
}
#u7295_img.focused.selected.error {
}
#u7295.focused.selected.error {
}
#u7295_img.focused.selected.hint {
}
#u7295.focused.selected.hint {
}
#u7295_img.focused.selected.error.hint {
}
#u7295.focused.selected.error.hint {
}
#u7295_img.selected.disabled {
}
#u7295.selected.disabled {
}
#u7295_img.selected.hint.disabled {
}
#u7295.selected.hint.disabled {
}
#u7295_img.selected.error.disabled {
}
#u7295.selected.error.disabled {
}
#u7295_img.selected.error.hint.disabled {
}
#u7295.selected.error.hint.disabled {
}
#u7295_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:5px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u7295_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
