body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-203px;
  width:1877px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1831px;
  height:610px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:794px;
  width:1831px;
  height:610px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1867px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:833px;
  width:1867px;
  height:394px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:sub;
  line-height:24px;
}
#u4080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:53px;
  width:1831px;
  height:707px;
  display:flex;
  transition:none;
}
#u4081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1831px;
  height:707px;
}
#u4081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:369px;
  width:111px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:402px;
  width:83px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(164.7590931451079deg);
  -moz-transform:rotate(164.7590931451079deg);
  -ms-transform:rotate(164.7590931451079deg);
  transform:rotate(164.7590931451079deg);
  transition:none;
}
#u4083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4083_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:99px;
  height:31px;
}
#u4083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
