body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-86px;
  width:1828px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:56px;
  width:1800px;
  height:586px;
  display:flex;
  transition:none;
}
#u4750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:586px;
}
#u4750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.37254901960784315);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4751 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:675px;
  width:1800px;
  height:493px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:696px;
  width:1530px;
  height:521px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u4752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:696px;
  width:300px;
  height:209px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:704px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:722px;
  width:281px;
  height:1px;
  display:flex;
  transition:none;
}
#u4756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:2px;
}
#u4756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:751px;
  width:38px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u4757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:741px;
  width:192px;
  height:35px;
  display:flex;
  transition:none;
}
#u4758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u4758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:843px;
  width:55px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u4759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:773px;
  width:251px;
  height:65px;
  display:flex;
  transition:none;
}
#u4760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:65px;
}
#u4760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4761_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4761_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4761_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:841px;
  width:192px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4761_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4761.hint {
}
#u4761_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4761.disabled {
}
#u4761_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4761.hint.disabled {
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:868px;
  width:101px;
  height:29px;
  display:flex;
  transition:none;
}
#u4762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u4762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:914px;
  width:21px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
