body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-153px;
  width:1712px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4513 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:48px;
  width:1712px;
  height:692px;
  display:flex;
  transition:none;
}
#u4513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1712px;
  height:692px;
}
#u4513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1712px;
  height:1444px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4514 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:772px;
  width:1712px;
  height:1444px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1575px;
  height:388px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u4515 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:824px;
  width:1575px;
  height:388px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u4515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4517 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1199px;
  width:766px;
  height:119px;
  display:flex;
  transition:none;
}
#u4517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:119px;
}
#u4517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4518 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:1266px;
  width:50px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.7919198741647171deg);
  -moz-transform:rotate(-0.7919198741647171deg);
  -ms-transform:rotate(-0.7919198741647171deg);
  transform:rotate(-0.7919198741647171deg);
  transition:none;
}
#u4518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u4518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u4519 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:1274px;
  width:756px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u4519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u4520 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1293px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u4520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u4521 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1239px;
  width:65px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u4521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4522 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1249px;
  width:65px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(171.72140836089127deg);
  -moz-transform:rotate(171.72140836089127deg);
  -ms-transform:rotate(171.72140836089127deg);
  transform:rotate(171.72140836089127deg);
  transition:none;
}
#u4522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4522_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:76px;
  height:22px;
}
#u4522p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(0.27859163910872553deg);
  -moz-transform:rotate(0.27859163910872553deg);
  -ms-transform:rotate(0.27859163910872553deg);
  transform:rotate(0.27859163910872553deg);
}
#u4522p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:4px;
}
#u4522p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-171.72140836089127deg);
  -moz-transform:rotate(-171.72140836089127deg);
  -ms-transform:rotate(-171.72140836089127deg);
  transform:rotate(-171.72140836089127deg);
}
#u4522p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:4px;
  height:4px;
}
#u4522p002 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-11px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-179.72140836089127deg);
  -moz-transform:rotate(-179.72140836089127deg);
  -ms-transform:rotate(-179.72140836089127deg);
  transform:rotate(-179.72140836089127deg);
}
#u4522p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:26px;
  height:24px;
}
#u4522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u4523 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:1244px;
  width:247px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u4523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4523_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4524 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:1262px;
  width:59px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(155.27087210419305deg);
  -moz-transform:rotate(155.27087210419305deg);
  -ms-transform:rotate(155.27087210419305deg);
  transform:rotate(155.27087210419305deg);
  transition:none;
}
#u4524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4524_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:70px;
  height:22px;
}
#u4524p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:6px;
  -webkit-transform:rotate(-0.27087210419304597deg);
  -moz-transform:rotate(-0.27087210419304597deg);
  -ms-transform:rotate(-0.27087210419304597deg);
  transform:rotate(-0.27087210419304597deg);
}
#u4524p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:64px;
  height:6px;
}
#u4524p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:4px;
  height:6px;
  -webkit-transform:rotate(-155.27087210419305deg);
  -moz-transform:rotate(-155.27087210419305deg);
  -ms-transform:rotate(-155.27087210419305deg);
  transform:rotate(-155.27087210419305deg);
}
#u4524p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u4524p002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-12px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(-180.27087210419305deg);
  -moz-transform:rotate(-180.27087210419305deg);
  -ms-transform:rotate(-180.27087210419305deg);
  transform:rotate(-180.27087210419305deg);
}
#u4524p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1641px;
  height:886px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u4525 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1348px;
  width:1641px;
  height:886px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u4525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4526 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1665px;
  width:1224px;
  height:473px;
  display:flex;
  transition:none;
}
#u4526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:473px;
}
#u4526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4527 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1683px;
  width:1040px;
  height:69px;
}
#u4528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4529 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u4529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4530 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u4530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4531 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:216px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u4531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4532 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4533 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:168px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u4533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:35px;
  width:165px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u4535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:144px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u4536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4537 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:35px;
  width:216px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u4537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4538 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4539 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:35px;
  width:168px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u4539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4540 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1861px;
  width:872px;
  height:69px;
}
#u4541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4542 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u4542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4543 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u4543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4544 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:216px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u4544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4545 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4547 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:35px;
  width:165px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u4547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:144px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u4548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:35px;
  width:216px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u4549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1773px;
  width:872px;
  height:69px;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u4553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u4554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:216px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u4555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:35px;
  width:165px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u4558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:144px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u4559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:35px;
  width:216px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u4560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1798px;
  width:203px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1888px;
  width:78px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1951px;
  width:872px;
  height:69px;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u4566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u4567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:216px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u4568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:35px;
  width:165px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u4571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:144px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u4572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:35px;
  width:216px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u4573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1978px;
  width:253px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:2043px;
  width:872px;
  height:69px;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u4578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u4579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:216px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u4580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:173px;
  height:35px;
  display:flex;
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#D9001B;
}
#u4582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:35px;
  width:165px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u4583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:144px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
}
#u4584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u4584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:35px;
  width:216px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u4585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:35px;
  width:173px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  line-height:24px;
}
#u4586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u4586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:1710px;
  width:78px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:2070px;
  width:78px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
