body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:923px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:55px;
  width:1800px;
  height:923px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:973px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  vertical-align:super;
  line-height:24px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:70px;
  width:1760px;
  height:973px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  vertical-align:super;
  line-height:24px;
}
#u1255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:582px;
  width:1225px;
  height:140px;
  display:flex;
  transition:none;
}
#u1256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:140px;
}
#u1256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
